#jumbo {
    //background-image: url("/images/banner.jpg");
    height: 75vh;
    background: linear-gradient(
            to bottom,
            rgba(248,250,252, 0),
            rgba(248,250,252, 0.10),
            rgba(248,250,252, 0.25),
            rgba(248,250,252, 1)
    ),url("/images/banner.jpg");
    background-size: cover;
}

.imkersGreen {
    background-color: $imkersGreen;
}

.imkersYellow {
    background-color: $imkersYellow;
}

.imkersBlue {
    background-color: $imkersBlue;
}

.text-imkersGreen {
    color: $imkersGreen;
}

.text-imkersYellow {
    color: $imkersYellow;
}

.text-imkersBlue {
    color: $imkersBlue;
}

.black {
    background-color: black;
}

.h-35 {
    height: 35%;
}

._active {
    background-color: $imkersYellow;
}

._sidebar-height {
    height: calc(100vh - 71px);
}
